@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --payne-50: #eef2f4;
  --payne-500: #536878;
  --payne-600: #455364;
}

body {
  @apply bg-payne-50/30;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
